/* app css stylesheet */

body {
  padding: 0;
  margin: 0;
  font-family: monospace, monospace;
}

.column {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}

.verse {
  clear: both;
  float: left;

  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
}

.line {
  clear: both;
}

.line:first-child .gutter {
  padding-top: 0.5em;
}

.line:last-child .gutter {
  padding-bottom: 0.5em;
}

.line:first-child .content {
  padding-top: 0.5em;
}

.line:last-child .content {
  padding-bottom: 0.5em;
}

.line .gutter {
  float: left;
  width: 2.5em;
  padding: 0 0.5em 0 0;
  text-align: right;
  white-space: pre;
}

.line .content {
  float: left;
  padding: 0 0 0 0.5em;
}

.line .content .data {
  white-space: pre;
}

.line .content .spacer {
  float: left;
  white-space: pre;
}

.line .content .lyric {
  float: left;
  white-space: pre;
}

.line .content .chord {

}
