/* app css stylesheet */

body {
  padding: 0;
  margin: 0;
  font-family: "Menlo", monospace;
}

ul {
  padding: 0;
}

.fa {
  cursor: pointer;
}

.controls {
  z-index: 1;
  position: absolute;
  right: 0;
  top: 0;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  opacity: 0.1;
  -webkit-transition: opacity 0.1s ease-in-out;
  -moz-transition: opacity 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out;
}

.controls:hover, .controls:active, .visible {
  opacity: 0.95;
}

.control-panel {
  float: right;
  text-align: left;
  right: 0;
}

.control-panel .group {
  padding: 0.25em 0.5em;
}

.control-panel .group .label {
  font-size: 0.7em;
  padding-bottom: 0.3em;
}

.youtube-panel {
  padding-bottom: 1em;
  font-size: 1em;
  float: right;
  width: 20em;
}

.search-panel {
  padding-bottom: 1em;
  font-size: 1em;
  float: right;
  width: 40em;
}

.search-panel .quit-button {
  float: right;
  padding: 0.25em 0.5em;
}

.search-panel .search-box {
  padding: 1em;
}

.search-panel .search-box input {
  font-size: 1.2em;
  width: 92%;
}

.search-panel .tab-list {
  height: 40em;
  overflow-y: scroll;
}

.search-panel .tab-list ul {
  list-style: none;
  padding-left: 1em;
}

.bookmark-panel {
  padding-bottom: 1em;
  font-size: 1em;
  float: right;
  width: 40em;
}

.bookmark-panel .quit-button {
  float: right;
  padding: 0.25em 0.5em;
}

.bookmark-panel .content {
  padding-left: 1em;
}

.bookmark-panel .tab-list ul {
  list-style: none;
}

.floating-panel {
  float: right;
}

.floating-panel .quit-button {
  float: right;
  padding: 0.25em 0.5em;
}

.chord-helper .content {
  float: left;
}

.column {
  float: left;
}

div {
  -webkit-column-gap: 0; /* Chrome, Safari, Opera */
  -moz-column-gap: 0; /* Firefox */
  column-gap: 0;
}

.verse {
  clear: both;

  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
}

.verse .line {
  clear: left;

  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.verse .line .gutter {
  float: left;
  clear: left;
  width: 2.5em;
  min-width: 2.5em;
  padding: 0 0.5em 0 0;
  margin: 0 0.5em 0 0;
  text-align: right;
  white-space: pre;
}

.verse .line .content {
  float: left;
  width: calc(100% - 4.5em);
}

.verse .line .data {
  float: left;
}

.verse .line .spacer {
  float: left;
  white-space: pre;
}

.verse .line .lyric {
  float: left;
  white-space: pre;
}

.verse .line .token {
  float: left;
  white-space: pre;
}

@media print {
  .no-print, .no-print * {
    display: none !important;
  }
}
