/* app css stylesheet */

a {
  color: #0068b4;
  text-decoration: none;
}

.gutter {
  color: #6d6d6d;
  background-color: #fafafa;
  border-right: thin solid #a0a0a0;
}

.verse:nth-child(even) {
  background-color: #fafaff;
}

.line:hover {
  background-color: #fff0f0;
}

.line:hover .gutter {
  background-color: #fff0f0;
}

.line .chord-primary {
  color: #0068b4;
  text-decoration: none;
}

.line .chord-secondary {
  color: #577842;
  text-decoration: none;
}

.control-panel {
  border-left: thin solid #a0a0a0;
  border-bottom: thin solid #a0a0a0;
  border-bottom-left-radius: 0.25em;
  background-color: #fafafa;
}

.control-panel .group {
  border-bottom: thin solid #a0a0a0;
}

.control-panel .group:last-child {
  border-bottom: none;
}

.search-panel {
  background-color: #fafafa;
  border-left: thin solid #a0a0a0;
  border-bottom: thin solid #a0a0a0;
  border-right: thin solid #a0a0a0;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  margin-right: -1px;
}

.search-panel .search-box {
  border-bottom: thin solid #a0a0a0;
}

.search-panel .tab-list {
  border-bottom: thin solid #a0a0a0;
}

.search-panel .quit-button {
  border-left: thin solid #a0a0a0;
  border-bottom: thin solid #a0a0a0;
  border-bottom-left-radius: 0.25em;
}

.bookmark-panel {
  background-color: #fafafa;
  border-left: thin solid #a0a0a0;
  border-bottom: thin solid #a0a0a0;
  border-right: thin solid #a0a0a0;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  margin-right: -1px;
}

.bookmark-panel .quit-button {
  border-left: thin solid #a0a0a0;
  border-bottom: thin solid #a0a0a0;
  border-bottom-left-radius: 0.25em;
}

.fa:hover {
  color: #0068b4;
}

.fa-on {
  color: #00408c;
}

.search-panel .search-box input {
  border: thin solid #a0a0a0;
  padding: 0.5em;
}