<div class="controls no-print" ng-class="controlsToggle ? 'visible': ''">
  <div class="control-panel">
    <div class="group">
      <div class="label">Tools</div>
      <div>
        <i class="fa fa-compress" ng-class="compressToggle ? 'fa-on' : ''" ng-click="toggleCompress()" title="Search"></i>
        <i class="fa fa-youtube-play" ng-class="youtubeToggle ? 'fa-on' : ''" ng-if="youTubeId" ng-click="toggleYouTubePlayer()" title="YouTube"></i>
      </div>
      <div>
        <i class="fa fa-pencil" ng-click="openEditor()" title="Edit"></i>
        <i class="fa fa-search" ng-class="searchToggle ? 'fa-on' : ''" ng-click="toggleSearch()" title="Search"></i>
        <i class="fa fa-bookmark" ng-class="bookmarksToggle ? 'fa-on' : ''" ng-click="toggleBookmarks()" title="Bookmarks"></i>
      </div>
    </div>

    <div class="group">
      <div class="label">Transpose: {{transposeString()}}</div>
      <i class="fa fa-arrow-circle-up" ng-click="transposeUp()"></i>
      <i class="fa fa-arrow-circle-down" ng-click="transposeDown()"></i>
      <i class="fa fa-history" ng-if="transpose" ng-click="transposeReset()"></i>
    </div>

    <div class="group">
      <div class="label">Columns: {{columns}}</div>
      <i class="fa fa-plus-circle" ng-click="columnsUp()"></i>
      <i class="fa fa-minus-circle" ng-click="columnsDown()"></i>
    </div>

    <div class="group">
      <div class="label">Font Size: {{fontSizeString()}}</div>
      <i class="fa fa-plus-circle" ng-click="fontSizeUp()"></i>
      <i class="fa fa-minus-circle" ng-click="fontSizeDown()"></i>
    </div>
  </div>

  <div class="youtube-panel" ng-if="youtubeToggle">
    <iframe width="320" height="240" ng-src="{{youTubeEmbedUrl()}}" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class="search-panel" ng-show="searchToggle">
    <div class="quit-button">
      <i class="fa fa-close" ng-click="closeSearch()" title="Close"></i>
    </div>

    <div class="search-box">
      <div>
        <input ng-model="query" ng-focus="lockVisible()" ng-blur="unlockVisible()" placeholder="Search for tab files" />
      </div>
    </div>

    <div class="tab-list">
      <ul class="tabs">
        <li ng-repeat="tab in tabs | filter:query">
          <a href="#/tab/{{tab.name}}">{{tab.name}}</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="bookmark-panel" ng-show="bookmarksToggle">
    <div class="quit-button">
      <i class="fa fa-close" ng-click="closeBookmarks()" title="Close"></i>
    </div>

    <div class="content">
      <h1>Bookmarks</h1>

      <div class="tab-list">
        <ul class="tabs">
          <li ng-repeat="bookmark in bookmarks">
            <a href="#/tab/{{bookmark}}">{{bookmark}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="tab" ng-class="'column' + columns" ng-bind-html="renderHtml(html)">
</div>